<!-- The Header -->
<%- include('components/_header') %>

<main id="site-main">
  <div class="container">
      <h1>Weclome to Articles Blog</h1>
      <p>Blog MVC and API by Express and Mongoose</p>
      <br>
      
      <a href="/articles" class="border-shadow">
        <span class="text-gradient"
          >Show All Articles <i class="fas fa-angle-double-right"></i
        ></span>
      </a>
    </div>
</main>

<!-- The Footer -->
<%- include('components/_footer') %>
